@import "./variables.scss";
@import "./animations.scss";


main {
    @include FlexCol;
    justify-content: space-around;
    min-height: 100vh;
    width: 90%;
    margin: 25vh auto;
    padding: 0.5rem;
    flex-grow: 1;

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        // min-height: 100vh;
        margin-bottom: 25vh;
    }

    #aboutMe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 80vh;
        flex-basis: 50%;
    }

    #skills {
        // justify-content: center;
        align-items: center;
        flex-basis: 100%;
        min-height: 60vh;
    }

    #introduction {}


    #introduction p {
        flex-basis: 25%;
    }

    .presentation {
        @include FlexColCenter;
        flex-basis: 50%;

        p {
            margin-top: 0.25rem;
        }

        p.signature {
            text-align: right;
        }
    }

}

// scroll categories : 
.container_scroll-button {
    @include FlexRowCenterCenter();
    width: 50%;
    flex-basis: 10%;
    margin: auto;

    button {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .arrow {
        width: 4rem;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .scrollButton {
        width: 1.5rem;
        height: 1.5rem;
        margin: 0 0.2rem;
        @include BorderRadiusTheme;

    }

    .straight {
        width: 2rem;
        border: 0.1rem solid $fontColor;
    }
}

.hobbies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    gap: 0.5rem;
}


.title_section {
    flex-basis: 20%;
    margin-bottom: 1rem;

    p {
        font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        color: $tiersColor;
    }

    &::after {
        content: "";
        display: block;
        width: 50%;
        height: 0.3rem;
        background-image: linear-gradient(to right, $tiersColor 25%, transparent 50%);
    }

}

.short {

    &::after {
        content: "";
        display: block;
        width: 25%;
        height: 0.3rem;
        background-image: linear-gradient(to right, $tiersColor 25%, transparent 50%);

    }
}

// manage flex of differents section : 
#skills,
#portFolio {
    @include Flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}


// pseudo class : 
.active {
    background-color: $tiersColor;
}

// scroll section : 
button.active {
    background-color: $tiersColor;
    color: white;
}

// responsive : 
@media screen and (min-width: 1024px) {



    body {
        font-size: 2rem;
    }

}