@import '../../sass/variables.scss';

#contact {
    @include SectionStyle;
    text-align: center;

    .contact-links {
        display: flex;
        align-items: center;
        justify-content: center;

        .contact-link {
            flex-basis: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        a {
            font-size: 2rem;
            color: $tiersColor;
        }

        .icon {
            width: 3rem;
        }
    }

}
