@import '../../sass/variables.scss';

#contact {
    @include SectionStyle;
    text-align: center;
    width: 90%;

    .contact-links {
        @include FlexRowCenterCenter;

        .contact-link {
            flex-basis: 20%;
            @include FlexColCenterCenter;
        }

        a {
            font-size: 2rem;
            color: $tiersColor;
        }

        .icon {
            width: 3rem;
        }
    }

}