@import '../../sass/variables.scss';

header {
    @include FlexColCenterCenter;
    width: 100%;
    height: 50vh;
    flex-basis: 100%;
    background-color: $secondaryColor;
    @include Border;
    border-bottom: 0.1rem solid $tiersColor;
    
    
    .logo {
        @include FlexRowCenter;
        flex-direction: row;
        
        figure {
            @include FlexColCenterCenter;
            flex-basis: 60%;
            
            video {
                max-width: 50%;
                @include ResponsivImg;
            }
        }
    }

}
