@import '../../sass/variables.scss';

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50vh;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 1;
}

.liste {
  position: relative;
  @include FlexRowCenterCenter;
  min-height: 100%;
  background-color: $cardColor;
  border-bottom: 0.2rem solid $tiersColor;
  list-style-type: none;
}

a{
  line-height: 6rem;
}

.items {
  margin-right: 1rem;
  font-size: $linkSize;
  color: $fontColor;
  cursor: pointer;
  margin-top: 1rem;
}

.btn {
  display: none;
  position: absolute;
  right: 1rem;
  top: 0.7rem;
  color: $tiersColor;
  font-size: 3rem;
  background-color: transparent;
  border: none;
}

// feature : 
.active {
  color: $tiersColor;
}

// responsive : 
@media screen and (max-width: 424px){
  nav{
    height: 40vh;
  }
  .liste {
    flex-direction: column;
    height: 60vh;
  }
  
  .items {
    height: 5rem;
    width: 100%;
    line-height: 3rem;
    text-align: center;
  }
  
  .btn {
    display: block;
  }


}  
@media screen and (min-width: 425px) and (max-width: 1440px) {
  nav{
    height: 25vh;
  }
  .liste {
    flex-direction: column;
    height: 50vh;
    margin-top: 1rem;
  }

  .items {
    height: 4rem;
    width: 100%;
    line-height: 3rem;
    text-align: center;
  }

  .btn {
    display: block;
  }

}

