@import '../../sass/variables.scss';

footer {
    @include FlexRowCenter;
    height: 10vh;
    margin-top: 15vh;
    @include SectionStyle;

    .footer-content{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .copyright {
        flex-basis: 50%;
    }

    .social-links {
        @include Flex;
        justify-content: space-around;
        align-items: center;
        flex-basis: 50%;

        a {
            font-size: 2rem;
            color: $tiersColor;
        }

        .icon {
            width: 3rem;
        }
    }
}
