@import '../../sass/variables.scss';

.containerBackToTop {
    @include Flex;
    justify-content: flex-end;
    flex-basis: 10%;
    position: fixed;
    bottom: 10vh;
    right: 0.5rem;

    .BackToTopButton {
        width: 4rem;
        height: 4rem;
        padding: 0.5rem;
        border: 0.5rem solid $tiersColor;
        border-radius: 50%;

        &:hover {
            transition: all 0.2s ease-in-out;
            background-color: $tiersColor;
            color: $fontColor;
        }
    }
}
